@{
    ViewData["Title"] = "Home Page - List task";
}

@using TodoApp.Business.Model
@using TodoApp.WebMvc.HtmlHelpers
@using TaskStatus = TodoApp.Common.TaskStatus

@model List<TaskModel>

<div class="container">
    <div>
        <a href="/Home/AddTask" class="btn btn-outline-primary btn-sm mb-5">Add New Task</a>
        <form action="/Home/TaskFilter" method="post" class="shadow p-3 mb-5 bg-white rounded">
            <div class="row">
                <div class="col-6">
                    <div class="row">
                        <div class="col-5">
                            <div>
                                @{
                                    var SearchString = ViewBag.SearchString ?? string.Empty;
                                    var SearchDateFrom = ViewBag.SearchDateFrom ?? string.Empty;
                                    var SearchDateTo = ViewBag.SearchDateTo ?? string.Empty;
                                    var StatusFilter = ViewBag.StatusFilter ?? -1;

                                    var taskStatuses = new Dictionary<int, string>();
                                    taskStatuses.Add(TaskStatus.All.GetHashCode(), TaskStatus.All.ToString());
                                    taskStatuses.Add(TaskStatus.InProgress.GetHashCode(), TaskStatus.InProgress.ToString());
                                    taskStatuses.Add(TaskStatus.Completed.GetHashCode(), TaskStatus.Completed.ToString());
                                    taskStatuses.Add(TaskStatus.Deleted.GetHashCode(), TaskStatus.Deleted.ToString());
                                }
                                <label for="SearchString">Search for Title/Content</label>
                                <input type="text" name="SearchString" id="SearchString" class="form-control mb-3" placeholder="Type here ..." />
                            </div>
                        </div>
                        <div class="col-5">
                            <div>
                                <label for="SearchString">Filter by Task Status</label>
                                <select class="form-control" name="StatusFilter">
                                    @foreach (var status in taskStatuses)
                                    {
                                        if (status.Key == StatusFilter)
                                        {
                                            <option selected value="@status.Key">@status.Value</option>
                                        }
                                        else
                                        {
                                            <option value="@status.Key">@status.Value</option>
                                        }

                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-6">
                            <label for="CreateTimeFrom">Filter by Create time from:</label>
                            <input type="date" id="CreateTimeFrom" name="SearchDateFrom" class="form-control">
                        </div>
                        <div class="col-6">
                            <label for="CreateTimeTo">Filter by Create time to:</label>
                            <input type="date" id="CreateTimeTo" name="SearchDateTo" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            
            <button type="submit" class="btn btn-outline-primary btn-sm">Search</button>    
        </form>
    </div>
    <div class="mt-5">
        @if(Model.Count == 0)
         {
            <div><i>You have completed all taks!</i></div>
            <hr />
            <div>Please contact below mail to get more tasks!</div>
            <i>@Html.EmailCustom(mailTo: "admin@gmail.com")</i>
         }
         else
         {
            <div class="row">
                @foreach(var task in Model)
                    {
                        var cardStatusBg = task.Status == TodoApp.Common.TaskStatus.Completed ? "text-dark bg-success"
                                : task.Status == TodoApp.Common.TaskStatus.InProgress ? "text-dark bg-warning"
                                : "text-dark bg-danger";
                    <div class="col">
                        <div class="card @cardStatusBg" style="width: 20rem;">
                            <div
                                 class="mt-3"
                                 style="width: 100%; height: 100px; background: no-repeat center url('/image/task.png'); background-size: contain; "></div>
                            <div class="card-body">
                                <h5 class="card-title">@task.Title</h5>
                                <p class="small m-0">Created at: <b>@task.CreatedTime.ToString("yyyy/MM/dd hh:mm tt")</b></p>
                                <p class="small m-0 mb-3">Last Updated at: <b>@task.UpdatedTime.ToString("yyyy/MM/dd hh:mm tt")</b></p>
                                <p class="card-text">@task.Content</p>
                            </div>
                            <div class="card-footer d-flex justify-content-around">
                                @if (task.Status != TodoApp.Common.TaskStatus.Deleted)
                                {
                                    <a class="btn btn-danger btn-sm" href="/Home/DeleteTask/@task.Id">Delete</a>
                                }

                                @if (task.Status == TodoApp.Common.TaskStatus.Deleted)
                                {
                                    <a class="btn btn-warning btn-sm" href="/Home/ReopenTask/@task.Id">Re-open</a>
                                }

                                @if (task.Status == TodoApp.Common.TaskStatus.InProgress)
                                {
                                    <a class="btn btn-primary btn-sm" href="/Home/UpdateTask/@task.Id">Edit</a>
                                    <a class="btn btn-secondary btn-sm" href="/Home/CompleteTask/@task.Id">Complete</a>
                                }
                            </div>
                        </div>
                    </div>
                }
                
            </div>   
         }
    </div>
</div>

